.slider-dialog-wrapper {
  // z-index: 10;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  .MuiSnackbar-root {
    padding: 15px 15px;
    left: 0;
    right: 0;
    z-index: 1400;
    bottom: 0;
    background: aliceblue;
    .MuiAlert-root {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
