@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "poppins-semibold";
  src: url("../../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "poppins-regular";
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}
